*.pyc
*.bat
*.zip
*.rar
*sublime*
*.wpr
*.wpu
*.wpr
exam_server_list.local
local_settings.py
data_*.js
.ipynb_checkpoints
*.bak
nohup.out
build.txt
_bak*
static_deploy
template_deploy
note.txt
.idea
.vscode
.vscode/launch.json
.pytest_cache
.project
.pydevproject
.DS_Store
.venv
**/logs/
block/
