# -*- coding: utf-8 -*-
# @File    : {{klass.name}}.py
# @AUTH    : model_creater

from tornado.web import url
from ..views.{{klass.name}} import {{klass.name}}Handler

url_mapping = [
    url(r"/api/{{app.name | lower}}/{{klass.name | lower}}/(?:([a-zA-Z0-9&%\.~-]+)/)?", {{klass.name}}Handler),
]
