# -*- coding: utf-8 -*-
# @File    : {{klass.name}}.py
# @AUTH    : model_creater

from ..models import {{klass.name}} as {{klass.name}}Model
from ..dao import {{klass.name}} as Base{{klass.name}}
from marshmallow import Schema, fields

{{klass.name}}Schema = {{klass.name}}Model.schema.as_marshmallow_schema()

{{klass.name | lower}}_schema = {{klass.name}}Schema()

class {{klass.name}}(Base{{klass.name}}):
    def __init__(self, **kwargs):
        super({{klass.name}}, self).__init__(**kwargs)
