# {{ app.name }}

{% for klass in app.klass %}
- {{klass}}
    - [查询{{klass}}]({{klass}}/select.md)
    - [查询{{klass}}列表]({{klass}}/select_list.md)
    - [创建{{klass}}]({{klass}}/create.md)
    - [复制{{klass}}]({{klass}}/copy.md)
    - [更新{{klass}}]({{klass}}/update.md)
    - [删除{{klass}}]({{klass}}/delete.md)
{% endfor %}