### **简要描述：**

创建{{klass.name}}

### **请求URL：**

`/api/{{klass.name | lower}}/{{klass.name | lower}}/`

### **请求方式：**

POST

### **类型：**

{% for field in klass.fields %}
{% if field.values.get("enums") %}
---
#### {{field.name}}
|值|原名|备注|
|:--|:--|:--|
{% for enum in field.values.get("enums") %}
|{{ loop.index }}|{{enum["key"]}}||
{% endfor %}

{% endif %}
{% endfor %}

### **请求参数：**

|参数名|参数类型|备注|
|:--|:--|:--|
{% if klass.meta.values.get("parent") %}
{% for _klass in app.klass %}
{% if _klass.name == klass.meta.values.get("parent") %}
{% for _field in _klass.fields %}
|{{_field.name}}|{{_field.field_type}}|{{_field.descriptions}}|
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% for field in klass.fields %}
|{{field.name}}|{{field.field_type}}|{{field.descriptions}}|
{% endfor %}

[返回目录](../base.md)

