struct CreateResult {
    1: required i32 code;
    2: optional string msg;
    3: optional string id;
}

struct UpdateResult {
    1: required i32 code;
    2: optional string msg;
    3: optional string id;
}

struct DeleteResult {
    1: required i32 code;
    2: optional string msg;
    3: optional i32 count;
}

{% for klass in app.klasses %}
struct {{klass.name}} {
    1: optional string id;
    {% for field in klass.fields %}
        {% if field.field_type == "datetime" %}
    {{loop.index + 1}}: optional string {{field.name}};
        {% elif field.field_type == "str" %}
    {{loop.index + 1}}: optional string {{field.name}};
        {% elif field.field_type == "int" %}
    {{loop.index + 1}}: optional i32 {{field.name}};
        {% elif field.field_type == "list" %}
            {% if field.field_detail_type == "str" %}
    {{loop.index + 1}}: optional list<string> {{field.name}};
            {% elif field.field_detail_type == "int" %}
    {{loop.index + 1}}: optional list<inting> {{field.name}};
            {% elif field.field_detail_type == "objectid" %}
    {{loop.index + 1}}: optional list<string> {{field.name}};
            {% elif field.field_detail_type == "dict" %}
    {{loop.index + 1}}: optional list<string> {{field.name}};
            {% else %}
    {{loop.index + 1}}: optional list<string> {{field.name}};
            {% endif %}
        {% elif field.field_type == "dict" %}
    {{loop.index + 1}}: optional string {{field.name}};
        {% elif field.field_type == "boolean" %}
    {{loop.index + 1}}: optional bool {{field.name}};
        {% elif field.field_type == "objectid" %}
    {{loop.index + 1}}: optional string {{field.name}};
        {% else %}
    {{loop.index + 1}}: optional string {{field.name}};
        {% endif %}
    {% endfor %}
}

typedef list<{{klass.name}}> {{klass.name}}List

struct Select{{klass.name}}Result {
    1: required i32 code;
    2: optional string msg;
    3: optional {{klass.name}} {{klass.name | lower}};
}

struct Search{{klass.name}}Result {
    1: required i32 code;
    2: optional string msg;
    3: optional {{klass.name}}List {{klass.name | lower}}_list;
}

{% endfor %}
service {{app.name | title}}Service {
    {% for klass in app.klasses %}
    CreateResult create_{{klass.name | lower}}_{{klass.name | lower}}(1:{{klass.name}} {{klass.name | lower}}),
    UpdateResult update_{{klass.name | lower}}_{{klass.name | lower}}(1:string id, 2:{{klass.name| title}} {{klass.name | lower}}),
    DeleteResult delete_{{klass.name | lower}}_{{klass.name | lower}}(1:string id),
    Select{{klass.name}}Result select_{{klass.name | lower}}_{{klass.name | lower}}(1:string id),
    Search{{klass.name}}Result search_{{klass.name | lower}}_{{klass.name | lower}}(1:string search),
    {% endfor %}
}
