import Vue from 'vue'

const {{klass.name}}Url = '/api/{{app.name | lower}}/{{klass.name | lower}}/'

export async function search{{klass.name}}(data){
  return Vue.axios.get(`${{ '{' }}{{klass.name}}Url{{ '}' }}`, { params: data })
}

export async function select{{klass.name}}(id){
  return Vue.axios.get(`${{ '{' }}{{klass.name}}Url{{ '}' }}${id}/`)
}

export async function create{{klass.name}}(data){
  return Vue.axios.post(`${{ '{' }}{{klass.name}}Url{{ '}' }}`, data)
}

export async function copy{{klass.name}}(id, data){
  return Vue.axios.post(`${{ '{' }}{{klass.name}}Url{{ '}' }}${id}/`, data)
}

export async function update{{klass.name}}(id, data){
  return Vue.axios.put(`${{ '{' }}{{klass.name}}Url{{ '}' }}${id}/`, data)
}

export async function delete{{klass.name}}(id){
  return Vue.axios.delete(`${{ '{' }}{{klass.name}}Url{{ '}' }}${id}/`)
}
