# -*- coding: utf-8 -*-
# @File    : base_server.py
# @AUTH    : model_creater

import os
import json
import thriftpy2
from common.Decorator.render import render_thrift
from api.{{app_name | title}}.utils.{{app_name | title}} import {{app_name | title}}
from rpc.dispatcher import BaseDispatcher


rpc_dir = os.path.abspath(os.path.dirname(__file__))
{{app_name | lower}}_thrift = thriftpy2.load(rpc_dir + "/protocols/main.thrift", module_name="{{app_name | lower}}_thrift")

class Dispatcher(BaseDispatcher):
    {% for model_name, model in models.items() %}
    @render_thrift({{app_name | lower}}_thrift.model.CreateResult)
    {{ 'async ' if aio }}def create_{{app_name | lower}}_{{model_name | lower}}(self, **kwargs):
        result = {{app_name | lower}}_thrift.CreateResult()
        {{model_name | lower}} = {{ 'await ' if aio }}{{model_name | title}}.create(**kwargs)
        result.code = 0
        result.msg = ""
        result.id = {{model_name | lower}}.id
        return result

    @render_thrift({{app_name | lower}}_thrift.model.UpdateResult)
    {{ 'async ' if aio }}def update_{{app_name | lower}}_{{model_name|lower}}(self, id, **kwargs):
        result = {{app_name | lower}}_thrift.model.UpdateResult()
        {{model_name | lower}} = {{ 'await ' if aio }}{{model_name | title}}.select(id=id)
        {{model_name | lower}} = {{ 'await ' if aio }}{{model_name | lower}}.update(**kwargs)
        result.code = 0
        result.msg = ""
        result.id = {{model_name | lower}}.id
        return result

    @render_thrift({{app_name | lower}}_thrift.model.DeleteResult)
    {{ 'async ' if aio }}def delete_{{app_name | lower}}_{{model_name | lower}}(self, id):
        result = {{app_name | lower}}_thrift.model.DeleteResult()
        {{model_name | lower}} = {{ 'await ' if aio }}{{model_name | title}}.select(id=id)
        {{ 'await ' if aio }}{{model_name | lower}}.delete()
        result.code = 0
        result.msg = ""
        result.count = 0
        return result

    @render_thrift({{app_name | lower}}_thrift.model.Select{{model_name | title}}Result)
    {{ 'async ' if aio }}def select_{{app_name | lower}}_{{model_name|lower}}(self, id):
        result = {{model_name | lower}}_thrift.model.Select{{model_name | title}}Result()
        {{model_name | lower}} = {{ 'await ' if aio }}{{model_name | title}}.select(id=id)
        result_object = {{app_name | lower}}_thrift.model.{{model_name | title}}()
        result_object.id = str({{model_name | lower}}.id)
        {% for field in model.field_list %}
            {% if field.field_type == "datetime" %}
        result_object.{{field.field_name}} = {{model.name|lower}}.{{field.field_name}}.strftime('%Y-%m-%d %H:%M:%S.%f')
            {% elif field.field_type == "str" %}
        result_object.{{field.field_name}} = {{model.name|lower}}.{{field.field_name}}
            {% elif field.field_type == "int" %}
        result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
            {% elif field.field_type == "list" %}
                {% if field.field_detail_type == "str" %}
        result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                {% elif field.field_detail_type == "int" %}
        result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                {% elif field.field_detail_type == "objectid" %}
        result_object.{{field.field_name}} = [str(i) for i in {{model.name|lower}}.{{field.field_name}}]
                {% elif field.field_detail_type == "dict" %}
        result_object.{{field.field_name}} = [json.dumps(i) for i in {{model.name|lower}}.{{field.field_name}}]
                {% else %}
        result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                {% endif %}
            {% elif field.field_type == "dict" %}
        result_object.{{field.field_name}} = json.dumps({{model.name|lower}}.{{field.field_name}})
            {% elif field.field_type == "boolean" %}
        result_object.{{field.field_name}} = {{model.name|lower}}.{{field.field_name}}
            {% elif field.field_type == "objectid" %}
        result_object.{{field.field_name}} = str({{model.name|lower}}.{{field.field_name}})
            {% else %}
        result_object.{{field.field_name}} = {{model.name|lower}}.{{field.field_name}}
            {% endif %}
        {% endfor %}
        result.code = 0
        result.msg = ""
        result.{{model.name|lower}} = result_object
        return result

    @render_thrift({{app_name | lower}}_thrift.model.Search{{model.name}}Result)
    {{ 'async ' if aio }}def search_{{app_name | lower}}_{{model.name | lower}}(self, search):
        result = {{app_name | lower}}_thrift.model.Search{{model.name | title}}Result()
        {{model.name | lower}}_list = {{model_name | title}}.search()
        result_object_list = []
        {{ 'async ' if aio }}for {{model.name|lower}} in {{model.name | lower}}_list:
            result_object = {{app_name | lower}}_thrift.model.{{model_name | title}}()
            result_object.id = str({{model_name | lower}}.id)
            {% for field in model.field_list %}
                {% if field.field_type == "datetime" %}
            result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}.strftime('%Y-%m-%d %H:%M:%S.%f')
                {% elif field.field_type == "str" %}
            result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                {% elif field.field_type == "int" %}
            result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                {% elif field.field_type == "list" %}
                    {% if field.field_detail_type == "str" %}
            result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                    {% elif field.field_detail_type == "int" %}
            result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                    {% elif field.field_detail_type == "objectid" %}
            result_object.{{field.field_name}} = [str(i) for i in {{model.name | lower}}.{{field.field_name}}]
                    {% elif field.field_detail_type == "dict" %}
            result_object.{{field.field_name}} = [json.dumps(i) for i in {{model.name | lower}}.{{field.field_name}}]
                    {% else %}
            result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                    {% endif %}
                {% elif field.field_type == "dict" %}
            result_object.{{field.field_name}} = json.dumps({{model.name | lower}}.{{field.field_name}})
                {% elif field.field_type == "boolean" %}
            {{field.field_name}} = {{model.name | lower}}.result_object.{{field.field_name}}
                {% elif field.field_type == "objectid" %}
            result_object.{{field.field_name}} = str({{model.name | lower}}.{{field.field_name}})
                {% else %}
            result_object.{{field.field_name}} = {{model.name | lower}}.{{field.field_name}}
                {% endif %}
            {% endfor %}
            result_object_list.append(result_object)
        result.code = 0
        result.msg = ""
        result.{{model_name|lower}}_list = result_object_list
        return result

{% endfor %}


if __name__ == '__main__':
    from rpc.main import make_server
    server = make_server(
        port=5000,
        module_list=['api.{{app_name | title}}.rpc.base_server']
    )
    server.serve()