const {{model.name | title}}Url = '/api/{{app_name | lower}}/{{model.name | lower}}/'

export const search{{model.name | title}} = (data) => {
  return new Promise(function(resolve, reject) {
    window.axios.get(`${{ '{' }}{{model.name | title}}Url{{ '}' }}`, { params: data }).then((response) => {
      resolve(response)
    })
  })
}

export const select{{model.name | title}} = (id) => {
  return new Promise(function(resolve, reject) {
    window.axios.get(`${{ '{' }}{{model.name | title}}Url{{ '}' }}${id}/`).then((response) => {
      resolve(response.data)
    })
  })
}

export const create{{model.name | title}} = (data) => {
  return new Promise(function(resolve, reject) {
    window.axios.post(`${{ '{' }}{{model.name | title}}Url{{ '}' }}`, data).then((response) => {
      resolve(response.data)
    })
  })
}

export const copy{{model.name | title}} = (id, data) => {
  return new Promise(function(resolve, reject) {
    window.axios.post(`${{ '{' }}{{model.name | title}}Url{{ '}' }}${id}/`, data).then((response) => {
      resolve(response.data)
    })
  })
}

export const update{{model.name | title}} = (id, data) => {
  return new Promise(function(resolve, reject) {
    window.axios.put(`${{ '{' }}{{model.name | title}}Url{{ '}' }}${id}/`, data).then((response) => {
      resolve(response.data)
    })
  })
}

export const modify{{model.name | title}} = (id, data) => {
  return new Promise(function(resolve, reject) {
    window.axios.patch(`${{ '{' }}{{model.name | title}}Url{{ '}' }}${id}/`, data).then((response) => {
      resolve(response.data)
    })
  })
}

export const delete{{model.name | title}} = (id) => {
  return new Promise(function(resolve, reject) {
    window.axios.delete(`${{ '{' }}{{model.name | title}}Url{{ '}' }}${id}/`).then((response) => {
      resolve(response.data)
    })
  })
}
